// hue. Available color palettes: https://material.io/design/color/
@use '~@angular/material' as mat;

$plt-primary: mat.define-palette(mat.$blue-palette);
$plt-accent: mat.define-palette(mat.$orange-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$plt-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$theme: mat.define-light-theme((
  color: (
    primary: $plt-primary,
    accent: $plt-accent,
    warn: $plt-warn,
  )
));

$plt-background: map-get($theme, background);
$plt-foreground: map-get($theme, foreground);


@mixin main() {
    @include mat.core();
    @include mat.all-component-themes($theme);

    $p-keys: 50, 100, 200, 300, 400, 500, 600, 700, 800, 900;
    $a-keys: (100: A100, 200: A200, 400: A400, 700: A700);

    :root {
      @each $key in $p-keys {
        --p-#{$key}: #{map-get($plt-primary, $key)};
      }

      @each $key, $value in $a-keys {
        --a-#{$key}: #{map-get($plt-accent, $value)};
      }

      @each $key, $value in $plt-background {
        --b-#{$key}: #{$value};
      }

      @each $key, $value in $plt-foreground {
        --f-#{$key}: #{$value};
      }
      


    }
}