<h1>Welcome to templates</h1>

<button (click)="toggle()">Toggle Showing</button>

<div *ngIf="isShowing">
  <p>I am now showing something conditioanlly</p>
</div>

<ng-template [ngIf]="isShowing">
  <div>
    <p>I am now showing something conditioanlly (2)</p>
  </div>
</ng-template>

<hr>

<ng-template [myIf]="isShowing">
  <div>
    <p>I am now showing something conditioanlly (3)</p>
  </div>
</ng-template>

<div *myIf="isShowing">
  <p>I am now showing something conditioanlly (4)</p>
</div>

<!--
  When angular sees a *directive
  1. wraps it with <ng-template>
  2. places the directive on the ng-template without *
  3. goes over all "let" statements in the microsyntax and converts them to let-x="y"

-->
<h1>Repeater explicit syntax</h1>

<label>How many items</label>
<input type="number" #inputTimes>
<label>Skip by</label>
<input type="number" #inputSkipBy>
<label>Start with: </label>
<input type="number" #inputStartWith>
<button (click)="setRepeaterValues(inputTimes.valueAsNumber, inputSkipBy.valueAsNumber, inputStartWith.valueAsNumber)">SET!</button>

<ul>
  <ng-template myRepeat let-counter let-odd="isOdd" let-first="isFirst" let-last="isLast" [myRepeatTimes]="howManyItems"
    [myRepeatSkip]="skipper" [myRepeatStartWith]="theStartIndex">
    <li>Index = {{counter}}, Odd = {{odd}}, First = {{first}}, Last = {{last}}</li>
  </ng-template>

</ul>

<h1>Repeater * syntax</h1>
<ul>
  <li
    *myRepeat="let counter times howManyItems skip skipper startWith theStartIndex; let odd = isOdd, let first = isFirst, let last = isLast">
    Index = {{counter}}, Odd = {{odd}}, First = {{first}}, Last = {{last}}</li>
</ul>


<hr>

<input type="text" #colorInput>
<button (click)="addColor(colorInput.value)">Add Color</button>

<ul>
  <li *ngFor="let clr of colors; let i = index; let o = odd" [style.color]="clr" [class.odd]="o">
    {{i}}: {{clr}}
  </li>
</ul>

<hr>

<ul>
  <ng-template ngFor let-clr [ngForOf]="colors" let-i="index" let-o="odd">
    <li [style.color]="clr" [class.odd]="o">
      {{i}}: {{clr}}
    </li>
  </ng-template>
</ul>