<ng-template #colorItem let-item>
    <span [style.color]="item">{{item}}</span>
</ng-template>

<ng-template #sizeItem let-item>
    <span [style.font-size]="item">{{item}}</span>
</ng-template>

<app-selector [options]="colors" [selectedOption]="selectedColor" 
    (selection)="onSelectColor($event)" [itemTemplate]="colorItem"></app-selector>

<app-selector [options]="sizes" [selectedOption]="selectedSize" 
    (selection)="onSelectSize($event)" [itemTemplate]="sizeItem"></app-selector>




<!-- <app-container-demo></app-container-demo> -->

<!-- <app-templates-demo></app-templates-demo> -->

<!-- <app-expander #exp1>    
    <span expander-header>Title</span>
    <button expander-button>{{exp1.isOpen ? '-' : '+'}}</button>
    <div expander-button>blablabla</div>
    <span>Content</span>
</app-expander>  -->

<!--

<app-my-list>
    <li my-item>Option 1</li>
    <li my-item>Option 2</li>
    <li my-item>Option 3</li>
</app-my-list>

<ul>
    <li class="x">bla bla</li>
    <li>bla bla 2</li>
    <li highlight>bla bla 3</li>
    <li class="ho hi hl">bla bla 4</li>
    <li class="hl">bla bla 5</li>
</ul>

<p class="x">
    first paragraph
</p>

<p>
    second paragraph
</p>

<input type="number">
<input type="text">
<input type="text">
<input type="text" rotate>
<input type="text">
<input type="text" rotate>




<h1 highlight="yellow">
    Hello Directives
</h1>


<h2>
    Agenda
</h2>

<app-stam highlight="lime" (highlightHidden)="onHighlightHidden()" #comp #dirc="highlight">
    <p>
        This is only a test
    </p>
</app-stam>

<button (click)="dirc.reset()">AUDIT</button>

<ul>
    <li>What are directives</li>
    <li>How to use ElementRef</li>
    <li highlight>How to use the Renderrer 2</li>
    <li>HostBinding HostListener</li>
    <li>Inputs and Outputs</li>
    <li highlight>Input with the same name as the directive trick</li>
    <li>Export As</li>    
</ul> -->