:host {
    display: flex;
    flex-direction: column;
    align-items: center;
}

mat-card {
    padding: 0px;
    overflow: hidden;
    border: 2px solid var(--w-700);
}

mat-card-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--w-400);
    padding: 12px;
}

mat-icon {
    font-size: 72px;
    width: auto;
    height: auto;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 24px;
    color: var(--a700);
}