@use 'material-common' as mat-common;

@include mat-common.main();


html, body { 
  height: 100%; 
}

body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  background-color: var(--b-background);

  --kobi: rgb(195, 41, 200);
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}



